* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 60px;
}

input {
  font-size: 1.2rem;
  width: 100%;
  color: grey;
  
}

::placeholder {
  color:grey;
  font-size: 0.7em;
}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card p {
  padding: 5px;
  font-size: 0.8em;
  text-align: center;
}

.card img {
  width: 100%;
  /* max-height: 170px; */
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
